
.main-screen {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 460px;

  background-color: #a87b62;
  overflow: hidden;

  &--catalog-page {
    min-height: 250px;
  }
}

.main-screen picture {
  width: 100%;
}

.main-screen img {
  display: block;
  width: 100%;
  max-width: none;
}

.main-screen__text-content {
  z-index: 5;

  position: absolute;
  top: 143px;
  margin-left: 50%;
  transform: translateX(-50%);

  &--catalog-page {
    top: 65px;
  }
}

.main-screen__text-content h2 {
  margin-bottom: 0;

  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.main-screen__text-content--catalog-page h2 {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: normal;
}

.main-screen__text-content p {
  margin-top: 0;

  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}

.main-screen__text-content--catalog-page p {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
}

@media (max-width: $max-width) {
  .main-screen img {
    margin-left: 50%;
    transform: translateX(-50%);
    flex-shrink: 0;

    width: auto;
  }
}

@media (max-width: $tablet-width) {
  .main-screen__text-content {
    margin-left: 49%;

    width: 90%;

    &--catalog-page {
      margin-left: 50%;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-screen__text-content {
    top: 160px;
    margin-left: 49.5%;

    &--catalog-page {
      top: 52px;
    }
  }

  .main-screen__text-content h2 {
    font-size: 38px;
    line-height: 42px;
  }

  .main-screen__text-content--catalog-page h2 {
    font-size: 34px;
    line-height: 44px;
  }

  .main-screen__text-content p {
    font-size: 34px;
    line-height: 40px;
  }

  .main-screen__text-content--catalog-page p {
    margin-top: 3px;

    font-size: 22px;
    line-height: 26px;
  }
}
