
.modal-cart-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 30;

  display: none;

  background-color: rgba(29, 22, 19, 0.25);

  &--modal-opened {
    display: block;
  }
}
